    
	<div id="menu">
		<ul>
                    <li><a href="/admin">Admin Home</a></li>
                    <li><a href="/admin/addcategory">Add Cat</a></li>
                    <li><a href="/admin/addsubcategory">Add Sub Cat</a></li>
                    <li><a href="">Manage Users</a></li>
                    <li><a href="">Manage Post</a></li>    
                    <li><a href="">Change Pass</a></li>
                    <li><a href="/logout">Logout</a></li>
		</ul>
		<br class="clearfix" />
	</div>
    

