    
	<div id="menu">
		<ul>
                    <li><a href="/users">User Home</a></li>
                    <li><a href="">Mnage Profile</a></li>
                    <li><a href="">Add Post</a></li>
                    <li><a href="">Contact with Seller</a></li>
                    <li><a href="/logout">Logout</a></li>
		</ul>
		<br class="clearfix" />
	</div>
    

