<% include header %>    
<% include usernav %>    
<% include slider %>        
    
	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Welcome To <%= role %> Panel</h2>
			    <h3>Welcome <%= unm %></h3>        
                     
                        </div>
		</div>
		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Facebook</a></li>
					<li><a href="#">Gmail</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">LinkedIn</a></li>
				</ul>
			</div>
			
		</div>
		<br class="clearfix" />
	</div>
    
    
<% include footer %>        
    
    
    
    
    
    
